<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
							<binding name="BasicHttpBinding_IEmailService" closeTimeout="00:10:00"
						 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
						 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						 maxBufferSize="5242880" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880"
						 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						 useDefaultWebProxy="true">
								<readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647"
												maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
								<security mode="None">
									<transport clientCredentialType="None" proxyCredentialType="None"
												realm="" />
									<message clientCredentialType="UserName" algorithmSuite="Default" />
								</security>
							</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62744/EmailService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmailService" contract="EmailService.IEmailService"
                name="BasicHttpBinding_IEmailService" />
        </client>
    </system.serviceModel>
</configuration>