<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MetadataDebug" name="webzyEmailService.EmailService">
        <endpoint address="" bindingNamespace="http://email.webservice.web-zy.com" binding="basicHttpBinding" contract="webzyEmailService.IEmailService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        </behavior>
        <behavior name="MetadataDebug">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer />
	<connectionStrings>
		<add name="webzyEmailEntities" connectionString="metadata=res://*/webzyEmail.csdl|res://*/webzyEmail.ssdl|res://*/webzyEmail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=webzyEmail;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="AttchedFileFolder" value="D:\Program Files\Nxgen Communications Pte Ltd\EmailService\Attachments\"/>
    <add key="EmailFolder" value="D:\Program Files\Nxgen Communications Pte Ltd\EmailService\Emails"/>
    <add key="MailBox" value="INBOX"/>
  </appSettings>
</configuration>