<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="webzyEmailEntities" connectionString="metadata=res://*/webzyEmail.csdl|res://*/webzyEmail.ssdl|res://*/webzyEmail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=webzyEmail;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>